@charset "UTF-8";


@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/*메인 화이트박스*/
.container{
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    color: black;
    width: 1200px;    /*전체폼의 길이*/
    height: 800px;
    margin-top: 50px;  /*전체 폼의 위치*/
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
    display: table;
   
}

/*페이지 큰제목*/
.line{
    text-align: center;
    margin-top: 60px;
    font-family:  'IBMPlexSansKR-Regular';
    font-weight: 100;
    
}

.contents .line span{
    font-size: 33px;
   
    color: rgba(108, 108, 108, 0.815);
    box-shadow: inset 0 -2px 0 rgba(237, 181, 164, 0.5) ;
    
    padding-left: 10%;
    padding-right: 10%;
    text-align:center ;
    
}




/*글쓰기 폼 크기조절*/
.cover{
    width: 60%;
    display: table-cell;
}

@media (max-width:720px){
    header, .container{
        margin: 0;
    }
    .container,
    .cover,
    .contents{
        display: block;
        width: auto;
    }
    .contents{
        padding: 100px;
    }

    
}


/*글쓰기 폼 스타일*/
input[type=text], select, textarea {
    
    padding: 12px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 26px;
    resize: vertical 
    
  }

  .form{
    margin-top: 50px;
}

label{
    font-family: 'IBMPlexSansKR-Regular';
    font-size: 19px;
    color: rgba(37, 37, 37, 0.815);
  }

.title{
    width: 100%;
}
.writer{
    width: 25%;
}
.content{
    width: 100%;
}


/*작성자 제목 밑선*/
.line-write {
    border-bottom: 0.6px dotted rgb(209, 209, 209);
    height: 85px;
    margin-bottom: 23px;
}

.line-title{
    border-bottom: 1px dotted rgb(209, 209, 209);
    height: 85px;
    margin-bottom: 23px;
}



  /*input 타입 스타일*/
select,
 input{
    width: 100px;
    height: 30px;
    font-size: 15px;
    color: black;
    border: 1.3px solid #ddd;
    font-family: 'IBMPlexSansKR-Regular';
    }

    textarea{
        font-family: 'IBMPlexSansKR-Regular';
    }

/*등록버튼*/
.boardsubmit{
    text-align: center;
}

.submit-btn{
     width: 66px;
     border-radius: 4px;
}

.submit-btn:hover {
    background-color: lightgray;
  }
  


/*목록버튼*/
.gotoboard{
    text-align: right;
  }
.list-btn{
    width: 66px;
    border-radius: 4px;
} 
.list-btn:hover {
    background-color: lightgray;
  }


/*페이지 아이콘*/
.pagination-box{
    text-align: center;
    color: lightgray;
    
}

.pagination-box :hover{
    color: lightcoral;
    text-decoration: none;
}

.item{
    font-size: 15px;
    color: gray;
    letter-spacing: 15px;
    
}

.item cl:hover{
    color: black;
}

 



  /*푸터*/
footer p{
    position: absolute;
    text-align: center;
    margin-top: 26px;
    width: 100%;
    color: rgba(215, 215, 215, 0.603);
    font-family: 'InkLipquid';

}





/*이미지파일 스타일*/
.btn-warning{
    position: relative;
    padding: 9px 12px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
    border: 1.3px solid #ddd;
    color: black;
    background-color: #ddd;
    border: 0;
    overflow: hidden;
    height: 41px;
    font-family: 'IBMPlexSansKR-Regular';
}

.btn-warning input[type="file"]{
    cursor: pointer;
    position: relative;
    left: 0;
    top: 0;
    transform: scale(2);
    opacity: 0;
}