@charset "UTF-8";

@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


*
{
   margin:0;
   padding:0;
   box-sizing:border-box;
   
}


.hero
{
   width:100%;
   height:100vh;
   background-image:linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
   position:relative;
   padding:0 5%;
   overflow:hidden;
   display:flex;
   align-items:center;
   justify-content:center;
}

.line
{
   width: 100%; 
   border-bottom:1px solid white;
}


header
{
   width:100%;
   position:absolute;
   top:0;
   left:0;
   padding:50px 8%;
   display:flex;
   align-items:center;
   justify-content:space-between;
}

header .logo
{
   width:50px;
   margin-bottom: -28px;
   margin-left: 30px;
   
 
}

header ul li
{
   list-style: none;
   display:inline-block;
   margin-left: 40px;
}

header ul li a
{
   text-decoration: none;
   color:white;
   font-size:25px;
   font-family:'Reenie Beanie', cursive;
    
}

.snsicons{
   text-align: right;
   margin-right: 43px;
}

.content
{
   text-align: center;
   z-index:1;
}

.content h4
{
   font-size: 60px;
   color:white;
   font-weight:550;
   font-family: 'Norican', cursive;
}


.content h3
{
  text-decoration: none;
   display: inline-block;
   color:white;
   font-size: 27px;
   font-family: 'Reenie Beanie', cursive;
}


.content a
{
   text-decoration: none;
   display: inline-block;
   color:white;
   font-size: 27px;
   border: 3px solid white;   /*     ׵θ   β  */
   padding: 12px 35px;         /*    ũ   (         ) */
   border-radius: 35px;
   margin-right:20px;         /*  ڽ          */
   font-family: 'Reenie Beanie', cursive;
}



.back-video
{
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
   width:  100%;
   height: 100vh;
   pointer-events: none;
   z-index: -1;
}


/* ܹ   */



@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');
@font-face {
   font-family: 'GangwonEduPowerExtraBoldA';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'yg-jalnan';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}




 
/*햄버거버튼*/

.menubtn {display:block;width:50px;height:50px;position:absolute;top:860px;left:170px;transform:translateY(-50%);cursor:pointer;}
.menubtn span {display:block;position:absolute;width:80%;height:5px;border-radius:50px;background:white;transition:all .35s;}
.menubtn span:nth-child(1) {top:20%;left:50%;transform:translateX(-50%);}
.menubtn span:nth-child(2) {top:50%;left:50%;transform:translate(-50%,-50%);} 
.menubtn span:nth-child(3) {bottom:20%;left:50%;transform:translateX(-50%);}

/*햄버거 클릭시 x표시로 바꾸는애니메이션*/
input[id="popup"]:checked ~ .menubtn span:nth-child(1) {top:50%;left:50%;transform:translate(-50%,-50%) rotate(135deg);}
input[id="popup"]:checked ~ .menubtn span:nth-child(2) {left:50%;transform:translate(-50%,-50%) scale(0);opacity:0;}
input[id="popup"]:checked ~ .menubtn span:nth-child(3) {bottom:50%;left:50%;transform:translate(-50%,50%) rotate(-135deg);}

/*검은팝업뜰때 엑스표시 보이게하기*/
.menubtn {
  
   z-index: 200;
}



/*메뉴리스트 텍스트 꾸미기&정렬*/

.menulist{
   text-align: center;
   margin-top: 20px;
}



.menulist li {
   list-style: none;
   /*display:inline-block; 리스트들을 좌우로 정렬해놓기  */
   color: white;
   line-height: 2.3;
   font-size: 50px;
   
}




 .menulist li a
{
   text-decoration: none;
   color:white;
   font-size:50px;
   font-family:'Pretendard-Regular';
   font-weight: 900; 
    
}

/*메뉴리스트 텍스트 꾸미기&정렬*/

input[id*="popup"] {display:none;} /*체크박스 안보이게하기*/
input[id*="popup"] + label + div {position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;}
/*백그라운드검은색(전체팝업)생성*/
input[id*="popup"] + label + div > label {position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.95);z-index:1;}
/*햄버거클릭시 검은팝업 사라지기*/
input[id*="popup"] + label + div {opacity:0;visibility:hidden;transition:all 1s;}
/*햄버거클릭시 검은팝업 나타나기*/
input[id*="popup"]:checked + label + div {opacity:1;visibility:visible;}





footer 	{
   
    
    margin-top: 26px;
    width: 100%;

   

}
