@charset "UTF-8";

@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.container {
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    color: black;
    width: 1200px;
    /*전체폼의 길이*/
    height: 800px;
    margin-top: 50px;
    /*전체 폼의 위치*/
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: table;

}

.navbar_logo {
    padding-left: 0px;
    padding-right: 0px;
}

@media (max-width:720px) {

    header,
    .container {
        margin: 0;
    }

    .container {
        display: block;
        width: auto;
        height: auto;
    }



}


/*페이지 큰제목*/
.line{
    text-align: center;
    margin-top: 60px;
    font-family:  'IBMPlexSansKR-Regular';
    font-weight: 100;
    
}



.container .line span{
    font-size: 33px;
   
    color: rgba(108, 108, 108, 0.815);
    box-shadow: inset 0 -2px 0 rgba(237, 181, 164, 0.5) ;
    
    padding-left: 4%;
    padding-right: 4%;
    text-align:center ;
    
}

.line p {
    font-family: 'InkLipquid';
    margin-block-start: 2em;
    font-size: 20px;
    color: #878686bd;
}



/*푸터*/
footer p{
    position: absolute;
    text-align: center;
    margin-top: 26px;
    width: 100%;
    color: rgba(215, 215, 215, 0.603);
    FONT-FAMILY: 'InkLipquid';

}

.image-grid {
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.image-grid img {
    width: 100%;
    cursor: pointer;
    border: 3px solid rgb(255, 202, 178,0.4);
}

.imageall{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.img-box {
    overflow: hidden;
    display: block;

}


.image-grid img {
    transition: transform 0.7s;

}

.image-grid a:hover img {
    transform: scale(1.2);
}

.image-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(143, 90, 173, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'MaruBuri-Regular';
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}



.image-overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image-overlay:hover{
    opacity: 1;
}

.image-overlay:hover > *{
    transform: translateY(0);
}

.iamage-title{
    font-size: 2em;
    font-weight: bold;
}

.image-contents{
    font-size: 1.8em;
    font-weight: bold;
}

.imageall{
    position: relative;
}





 
