@charset "UTF-8";

@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.container{
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    color: black;
    width: 1200px;    /*전체폼의 길이*/
    height: 800px;
    margin-top: 50px;  /*전체 폼의 위치*/
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
   border-radius: 10px;
    display: table;
   
}

.cover{
    width: 60%;
   
    display: table-cell;
}



.contents{
    display: table-cell;
    width: 40%;
   vertical-align: middle;
   BORDER-BOTTOM: 1.5px solid #ddd;
    
   
}


@media (max-width:720px){
    header, .container{
        margin: 0;
    }
    .container,
    .cover,
    .contents
    {
        display: block;
        width: auto;
        height: auto;
    }
    .contents{
        padding: 100px;
    }

    
}

.contents h1{
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
    text-decoration: underline;
    text-decoration-color: silver;
    
    text-underline-position: under;

    
}


select,
 input{
    width: 100px;
    height: 30px;
    font-size: 15px;
    color: black;
    border: 2px solid #ddd;
    
}

.cover .searchbar{
    display: flex;
    list-style: none;
    margin-top: 40px;
    margin-left: 400px;
    
    
} 







/*검색 바,글쓰기 버튼 input 타입 스타일*/
select,
 input{
    width: 100px;
    height: 30px;
    font-size: 15px;
    color: black;
    border: 1.3px solid #ddd;
    font-family: 'IBMPlexSansKR-Regular';
}

.cover .searchbar{
    display: flex;
    list-style: none;
    margin-top: 40px;
    margin-left: 400px;
    
    
} 

.search-btn{
    width: 70px;
    border-radius: 4px;
}

.searchbar li{
padding: 1.3px 1px;
}

.search-btn:hover{
    background-color: rgb(212, 212, 212);
}




/*페이지 큰제목*/
.line{
    text-align: center;
    margin-top: 60px;
    font-family:  'IBMPlexSansKR-Regular';
    font-weight: 100;
    
}


/*글쓰기버튼*/

 .gotowrite{
    text-align: right;
    margin-top: 15px;
}

.write-btn{
    font-size: 14px;
    width:59px;
    font-family: 'IBMPlexSansKR-Regular';
    border-radius: 4px;
}

.write-btn:hover{
    background-color: rgb(212, 212, 212);
}


.contents .line span{
    font-size: 33px;
   
    color: rgba(108, 108, 108, 0.815);
    box-shadow: inset 0 -2px 0 rgba(237, 181, 164, 0.5) ;
    
    padding-left: 10%;
    padding-right: 10%;
    text-align:center ;
    
}

.write-btn{
    text-align: right;
}

/*페이지 아이콘*/
.page{
    text-align: center;
    color: lightgray;
    
}

.page a:hover{
    color: lightcoral;
    text-decoration: none;
}

.page a {
    margin: 6px;
}


.item{
    font-size: 15px;
    color: gray;
    /*letter-spacing: 15px;*/
    
}

.item cl:hover{
    color: black;
}

/*푸터*/
footer p{
    position: absolute;
    text-align: center;
    margin-top: 26px;
    width: 100%;
    color: rgba(215, 215, 215, 0.603);
    FONT-FAMILY: 'InkLipquid';

}



/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
   
  }
  
  
  .row {
    margin: 8px -16px;
    
  }
  
  p {
   margin: 0px 0 4px;
    font-family: 'IBMPlexSansKR-Regular';
    margin-top: 2px;
    font-size: 13px;
}
  
  
  h3{
  font-family: 'S-CoreDream-3Light';
  font-size: 15px;
  MARGIN-TOP: 8px;
  font-weight: 600;
  }
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
    
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
       background-color: #FFE4E1;
    padding: 10px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 50%);
    border-radius: 5px;
     
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
   
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    
  }
  
 .imgbox{
 
    overflow: hidden;
    display: block;

}
 
 .main img {
    transition: transform 0.7s;

}

.main a:hover img {
    transform: scale(1.2);
}